main {
    background-color: rgb(0, 149, 255);
}
body {
    background-color: #00b7ff;
}
p {
    background-color: rgb(6, 172, 255);
}

img {
    position: absolute;
    top: 294px;
    left: 40%;

}